<h2>Login to your Account</h2>

<form method="POST" action="/login">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username">
  <br><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password">
  <br><br>
  <input type="submit" value="Log-In">
  <% if !!flash[:log_in_error] %><em><h3><%= flash[:log_in_error] %></h3></em> <% end %>
</form>

