<h2>Login to your Account</h2>

<form method="POST" action="/login">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username">
  <br><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password">
  <br><br>
  <input type="submit" value="Log-In">
  
<!--Consider putting in re-enter password to validate that password is typed correctly-->
</form>