<h2>All Hikers on Hiking Trailblazer</h2>

<div class="all_hikers">
  <% @hikers.each do |hiker| %>
    <ul>
      <li><a href="/hikers/<%= hiker.slug %>"><%= hiker.username %></a></li>
    </ul>
  <% end %>
</div>