<h2>Create an Account for Hiking Trailblazer</h2>

<form method="POST" action="/hikers">
  <label for="username">Create Username: </label>
  <input type="text" id="username" name="username">
  <br><br>
  <label for="password">Create Password: </label>
  <input type="password" id="password" name="password">
  <br><br>
  <input type="submit" value="Create Account">
  
<!--Consider putting in re-enter password to validate that password is typed correctly-->
</form>
