<h2>Create an Account for Hiking Trailblazer</h2>

<form method="POST" action="/hikers">
  <label for="username">Create Username: </label>
  <input type="text" id="username" name="username">
  <br><br>
  <label for="password">Create Password: </label>
  <input type="password" id="password" name="password">
  <br><br>
  <input type="submit" value="Create Account">
  
  <% if !!flash[:hiker_error] %><em><h3><%= flash[:hiker_error] %></h3></em> <% end %>
</form>
