<h1>All Trails Trekked</h1>
<hr>
<br>
<div>
  <% @trails.each do |trail| %>
  <ul>
    <li><a href="/trails/<%= trail.slug %>"><%= trail.name %> | <%= trail.length %> miles</a></li>
  </ul>
<% end %>
</div>
