<h1>All Trails</h1>
<hr>
<br>
<form action="/trails/new">
  <input type="submit" value="Add Trail">
</form>
<br><br>
<div>
  <% Region.all.each do |region| %>
    <h2><%= region.name %></h2>
    <% region.trails.each do |trail| %>
    <ul>
      <li><a href="/trails/<%= trail.slug %>"><%= trail.name %> | <%= trail.length %> miles</a></li>
    </ul>
    <% end %>
  <% end %>
</div>

