<h2>Add a Trail to your Profile</h2>

<form method="POST" action="/trails">
  <h4>Select from Existing Trails:</h4>
  <br>
  <% Trail.all.each do |trail| %>
    <input type="checkbox" name="trail_ids[]" value="<%= trail.id %>"> <%= trail.name %></input>
  <% end %>
  <br><br>
  <h4>Add a New Trail:</h4>
  <br>
  <label for="name">Trail Name: </label>
  <input type="text" id="name" name="trail[name]">
  <br><br>
  <label for="length">Trail Length: </label>
  <input type="text" id="length" name="trail[length]" placeholder="13.5">
  <br><br>
  <textarea id="highlights" name="trail[highlights]" rows="10" columns="30" placeholder="Trail Highlights"></textarea>
  <br><br>
  <fieldset>
    <legend>Select Region or Create New</legend>
    <br>
    <% Region.all.each do |region| %>
      <input type="radio" name="region_ids[]" value="<%= region.id %>"> <%= region.name %></input>
    <% end %>
    <br><br>
    <label>New Region: </label>
    <input type="text" name="region[name]" >
    <br><br>
  </fieldset>
  <br>
  <input type="submit" value="Add New Trail">

</form>
