<h1>Edit Region Name</h1>

<form method="POST" action="/regions/<%= @region.slug %>">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label for="name">Region Name: </label>
  <input type="text" id="name" name="region[name]" value="<%= @region.name %>">
  <br><br>
  <input type="submit" value="Save Region">
</form>
