<h1>Hiking Trailblazer</h1>
<em><h4>The hiking app for tracking the trails you've trekked </h4></em>
<br><br>

<div class="flex-container">
  <form action="/hikers/new">
    <input type="Submit" value="Sign-Up">
  </form>
  <form action="/login">
    <input type="Submit" value="Log-in">
  </form>
</div>
<br>
<% if !!flash[:sign_in_message] %><em><h3><%= flash[:sign_in_message] %></h3></em> <% end %>
