<h2>Hiking Trailblazer</h2>
<h4>The hiking app for tracking the trails you've trekked </h4>

<form action="/hikers/new">
  <input type="Submit" value="Sign-Up">
</form>
<form action="/login">
  <input type="Submit" value="Log-in">
</form>
